<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Page</title>
        <link rel="stylesheet" href="/static/styles.css">
      </head>
      
<body>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <a href="{{ url_for('home') }}" class="mt-5">Administrator Page</a>    
        </div>
    </section>

</body>
</html>
