<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Converted Files</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>  
  <body>
  <!-- Header Section -->
  <header>
    <h1><a href="{{ url_for('home') }}">PicConverter</a></h1>
  </header>
  <section class="hero">
    <div class="hero-content">
      <div class="container">
        <h1 class="mt-5">Converted Files are as follows:</h1>
        <ul>
          {% for filename in filenames %}
            <li><a href="{{ url_for('converted_file', filename=filename) }}">{{ filename }}</a></li>
          {% endfor %}
        </ul>
        <a href="{{ url_for('upload_file') }}" class="btn btn-primary mt-3">Convert More Files</a>
      </div>
    </div>
  </section>

  </body>
</html>
