<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Converter</title>
        <link rel="stylesheet" href="/static/styles.css">
      </head>
      
<body>

    <!-- Header Section -->
    <header>
        <h1><a href="{{ url_for('home') }}" class="site-logo">PicConverter</a></h1>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to PicConverter</h1>
            <p>Converting Iphone Images Made Easy.</p>
            <a href="{{ url_for('upload_file') }}" class="button">Get Started</a>
        </div>
    </section>

</body>
</html>
